.App {
  text-align: center; 
  color:  #D5AD6D; /*if no support for background-clip*/
  
  background: -webkit-linear-gradient(transparent, transparent),
             -webkit-linear-gradient(top, rgba(213,173,109,1) 0%, rgba(213,173,109,1) 26%, rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%);
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  height: calc(100vh - 50px);

}
.og_img{
  display: none;
}
.App img{
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 450px;
  padding: 15px 0px;

}

.invite-text{
      font-family: "Times New Roman", Times, serif;
      padding: 10px;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
}

.names{
  padding: 10px;
  font-size: 36px;
      line-height: 44px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  vertical-align: top;
  letter-spacing: 2px;
}
.big_name{
  font-size: 44px;
}

.img_design{
  display: block; 
}

@media screen and (max-width: 480px) {
  .App {
    height: calc(100vh - 20px);
  }

  .App img{
    width: 95%;
  padding: 10px 5px 5px 5px;
  display: block;
}
.invite-text{
      padding: 5px;
      font-size: 18px;
      line-height: 24px;
}

.names{
  padding: 5px;
  font-size: 28px;
      line-height: 34px;
  letter-spacing: 1px;
}
.big_name{
  font-size: 34px;
}

}
.peacock {
  position: fixed;
  z-index: 2;
  bottom: 40px;
  right: 20px;
  display: block;
  width: 20%;
  min-width: 100px;
  margin: calc(50vh - 16%) auto 0;
}

//SVG colors
.peacock-1 {
  fill: #F7BC60;
}

.peacock-2 {
  fill: #FFF;
}

.peacock-3 {
  fill: #004990;
}

.peacock-4 {
  fill: #7AC143;
}

.peacock-5 {
  fill: #7581BF;
}

.peacock-6 {
  fill: #E3E65B;
}

.peacock-eye {
  animation: peacock-eye 6.25s infinite ease-in-out;
}

.peacock-head {
  animation: peacock-head 8s infinite ease-in-out;
}

@keyframes peacock-eye {
  0%, 10%, 16%, 100% {
    opacity: 1;
  }
  
  12% {
    opacity: 0;
  }
}

@keyframes peacock-head {
  0%, 4%, 20%, 28%, 100% {
    transform: rotate(0deg);
    transform-origin: 7.5em 7.5em;
  }
  
  2%, 22% {
    transform: rotate(-10deg); 
    transform-origin: 7.5em 7.5em;
  }
}


