.App {
  text-align: center; 
  color:  #D8A811; /*if no support for background-clip*/
  
  font-size: 30px;

}

.img_design img{
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 450px;
  padding: 15px 0px;
  min-height: 85px; 

}

.img_design1 img{
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  padding: 5px 0px 15px 0px;
  min-height: 75px; 

}
.og_img{
  display: none !important;
}
.invite-text, .date, .address{
      font-family: "Times New Roman", Times, serif;
      padding: 10px;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      text-transform: uppercase;
}

.names{
  padding: 20px 10px;
  font-size: 40px;
  line-height: 48px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  vertical-align: top;
  letter-spacing: 2px;
}
.big_name{
  font-size: 48px;
}

.img_design, .img_design1{
  display: block; 
}

.map{
  padding: 10px;
}

.map a{
  text-decoration: none;
}

.map a img{
  width: 64px;
  height: 64px;
}

@media screen and (max-width: 480px) {

  .img_design img, .img_design1 img{
    width: 95%;
  padding: 10px 5px 5px 5px;
  display: block;
}

.img_design1 img{
    width: 95%;
  padding: 0px 5px 10px 5px !important;
  display: block;
}
.invite-text, .date, .address{
      padding: 5px;
      font-size: 18px;
      line-height: 24px;
}

.names{
  padding: 5px;
  font-size: 28px;
      line-height: 34px;
  letter-spacing: 1px;
}
.big_name{
  font-size: 34px;
}
.peacock {
  display: none !important;
}


}


.peacock {
  position: absolute;
  z-index: 2;
  bottom: 10px;
  right: 20px;
  display: block;
  width: 20%;
  min-width: 120px;
  margin: calc(50vh - 16%) auto 0;
}

//SVG colors
.peacock-1 {
  fill: #F7BC60;
}

.peacock-2 {
  fill: #FFF;
}

.peacock-3 {
  fill: #004990;
}

.peacock-4 {
  fill: #7AC143;
}

.peacock-5 {
  fill: #7581BF;
}

.peacock-6 {
  fill: #E3E65B;
}

.peacock-eye {
  animation: peacock-eye 6.25s infinite ease-in-out;
}

.peacock-head {
  animation: peacock-head 8s infinite ease-in-out;
}

@keyframes peacock-eye {
  0%, 10%, 16%, 100% {
    opacity: 1;
  }
  
  12% {
    opacity: 0;
  }
}

@keyframes peacock-head {
  0%, 4%, 20%, 28%, 100% {
    transform: rotate(0deg);
    transform-origin: 7.5em 7.5em;
  }
  
  2%, 22% {
    transform: rotate(-10deg); 
    transform-origin: 7.5em 7.5em;
  }
}


